.apps {
display:none;
outline-width:2px;
outline-color:#ff6699;
outline-style:dashed;
margin-top:8px;
}

.app {
padding:10px;
}

.app img {
padding-right:10px;
}

.div-bar {
height:1px;
background:#DDDDDD;
width:100%;
margin:10px 0;
}

a, a:focus { outline: 0; }

.notice {
background:#ffbdd3;
border:2px solid #FF6699;
border-radius:5px;
padding:5px;
margin:5px 0;
}

.error {
color:#FF6699;
font-weight:bold;
}

#apps_form label { width:180px; }

#apps_form .cbi-value-field { margin-left: 200px; }

input, textarea, select, .uneditable-input { width: 500px; }

button.approve { background: url("check.png") no-repeat left center; }
button.blacklist {background: url("x.png") no-repeat left center; }
a.edit {background: url("equals.png") no-repeat left center; padding:10px 0 10px 40px;}

button.approve, button.blacklist, a.edit {
color:#FF6699;
font-weight:bold;
height:36px;
margin-right:20px;
padding-left:40px;
}

button:hover, a:hover {
color:#66CCFF !important;
text-decoration:underline;
}