<%+header%>

<link rel="stylesheet" type="text/css" href="<%=media%>/apps.css" />

<h2>Edit <%=app.name%></h2>

<form id="edit_app_form" method="get" action="<%=controller%>/admin/commotion/apps/edit_submit">
  <fieldset>
    <div class="cbi-value">
      <label class="cbi-value-title">Application Name:</label>
      <div class="cbi-value-field">
  <input type="text"  name="appName" value="<%=app.name%>" />
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">Application Nick Name:</label>
      <div class="cbi-value-field">
    <input type="text"  name="appNick" value="<%=app.nick%>" />
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">Description:</label>
      <div class="cbi-value-field">
        <textarea rows="5"  name="desc"><%=app.description%></textarea>
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">IP Address or URL of Service:</label>
      <div class="cbi-value-field">
   <input type="text"  name="IP" value="<%=app.ipaddr%>" />
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">Port of Service (Optional):</label>
      <div class="cbi-value-field">
  <input type="text"  name="port" value="<%=app.port%>" />
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">Type of Application:</label>
      <div class="cbi-value-field"> 
  <%=app.type_string%>
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">URL of application Icon:</label>
      <div class="cbi-value-field">
  <input type="text" name="icon" value="<%=app.icon%>" />
      </div>
    </div>
    <div class="cbi-value">                                                                                                                                             
      <label class="cbi-value-title">Number of hops away this service should be seen (Optional):</label>                                                                                                   
      <div class="cbi-value-field">                                                                                                                                     
        <input type="text" name="ttl" value="<%=app.ttl%>" />                                                                                                                                      
      </div>                                                                                                                                                            
    </div> 
    <div class="cbi-value">                                                                                                                                             
      <label class="cbi-value-title">Transport type (Optional):</label>                                                                                                  
      <div class="cbi-value-field">                                                                                                                                     
        <select size="1" name="transport" class="cbi-input-select">                                                                                                     
        <option value=""></option>
        <option value="tcp"<% if (app.transport == "tcp") then %> selected<% end %>>tcp</option>
        <option value="udp"<% if (app.transport == "udp") then %> selected<% end %>>udp</option>                                                                      
        </select>                                                                                                                                                       
      </div>                                                                                                                                                            
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title">Approved:</label>
      <div class="cbi-value-field">                                                                                                                                     
        <select size="1" name="approved" class="cbi-input-select">                                                                                                     
        <option value=""></option>
        <option value="1"<% if (app.approved == "1") then %> selected<% end %>>approved</option>
        <option value="0"<% if (app.approved == "0") then %> selected<% end %>>blacklisted</option>                                                                      
        </select>                                                                                                                                                       
      </div>                                                                                                                                                            
    </div>
    </fieldset>
    <input type="hidden" name="uuid" value="<%=app.uuid%>" />
    <% if (app.fingerprint) then %><input type="hidden" name="fingerprint" value="<%=app.fingerprint%>" /><% end %>
    <div class="cbi-page-actions">
	<input type="submit" value="Submit" class="cbi-button cbi-button-save">
	<input type="reset" value="Reset" class="cbi-button cbi-button-reset">
    </div>
</form>

<%+footer%>