<%+header%>

<link rel="stylesheet" type="text/css" href="<%=media%>/apps.css" />
<script type="text/javascript" src="/luci-static/resources/cbi.js"></script>

<h2>Application Settings</h2>
<div class="cbi-map-descr">Here you can change settings used on this node when creating or updating applications.</div>
<% if err and err.notice ~= "" then %><div class="notice"><%=err.notice%></div><% end %>

<form class="apps_form" method="post" action="<%=controller%>/admin/commotion/apps/settings_submit" autocomplete="off">
  <fieldset>
    <div class="cbi-value">
      <label class="cbi-value-title" for="app_type">Application categories:</label>
      <div class="cbi-value-field">
	<% for i, app_type in pairs(types) do %>
	  <input type="text" name="app_type" value="<%=app_type%>" class="cbi-input-text" /><br>
	<% end %>
	<script type="text/javascript">cbi_dynlist_init('app_type', '/luci-static/resources', '', true);</script>
	<%if err then%><div class="error"><%=err.app_type%></div><%end%>
      </div>
    </div>
    <div class="cbi-value">
      <label class="cbi-value-title" for="app_type">Expiration period (seconds):</label>
      <div class="cbi-value-field">
	  <input type="text" name="expiration" value="<%=expiration%>" class="cbi-input-text" />
	  <%if err then%><div class="error"><%=err.expiration%></div><%end%>
      </div>
    </div>
  </fieldset>
  <div class="cbi-page-actions">
	<input type="submit" value="Submit" class="cbi-button cbi-button-save">
	<input type="reset" value="Reset" class="cbi-button cbi-button-reset">
  </div>
</form>

<%+footer%>