<div class="app <%=this_app.uuid%> <%=approved%>">
	<img src="<%=this_app.icon%>"  align="Left" width="85" height="85">
	<h4><a href="<%=this_app.ipaddr%><% if this_app.port then %>:<%=this_app.port%><% end %>"><%=this_app.name%></a></h4>
	<p><%=this_app.description%></p>
	<% if (admin_vars) then %>
	  <button class="approve" onclick="return JudgeApp('<%=this_app.uuid%>',1)">Approve</button>
	  <button class="blacklist" onclick="return JudgeApp('<%=this_app.uuid%>',0)">Blacklist</button>
	  <% if (this_app.localapp) then %> <a class="edit" href="apps/edit?uuid=<%=this_app.uuid%>">Edit</a><%end%>
	<% end %>
</div>