<div class="app <%=this_app.uuid%> <%=approved%>">
	<img src="<%=this_app.icon%>"  align="Left" style="padding-right:10px" width="85" height="85">
	<h4><a href="<%=this_app.ipaddr%>"><%=this_app.name%></a></h4>
	<p><%=this_app.description%></p>
	<% if (admin_vars) then %>
	  <button class="approve" onclick="return ApproveApp('<%=this_app.uuid%>')">Approve</button>
	  <button class="blacklist" onclick="return BlacklistApp('<%=this_app.uuid%>')">Blacklist</button>
	  <% if (this_app.localapp) then %> <a class="edit" href="apps/edit?uuid=<%=this_app.uuid%>">Edit</a><%end%>
	<% end %>
</div>
